<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
        {{ scriptb | safe }}
    </head>
    <body>
        {% include 'navigation.html' %}
        <div class="row">
            <div class = 'shift'>
                <div class="col-md-4">
                    <section id="ages">
                        <div class="container">
                            <form method="POST" name="dateFilter" onSubmit="return OnSubmitForm();">
                                            Please select a date range <br>
                                            Start Date: <input type="date" name="start_date" min="2013-10-01" value={{ d1 }}><br>><br>
                                            End Date: <input type="date" name="stop_date" max="2016-01-31" value={{ d2 }}>><br><br>
                                            <p>
                                                <input type="submit" name="submitDateFilter" value="Submit"><br>
                                            </p>
                            </form>
                            <SCRIPT language="JavaScript">
                                function OnSubmitForm()
                                {
                                    document.dateFilter.action ="/age";
                                }
                            </SCRIPT>
                        </div>
                    </section>
                </div>
            </div>
            <div class='bokeh'>
                {{ divb | safe }}
            </div>
        </div>
        <br><br>
        {% include 'footer.html' %}
    </body>
</html>