<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New York Citi Bikes</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/business-frontpage.css')}}" rel="stylesheet" media="screen">

</head>

<body>
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Welcome to my <img src="../static/img/logo.png" alt="Logo" style="width:280px;height:50px;"> Project</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#intro">Intro</a></li>
                    <li><a data-toggle="tab" href="#dates">Dates</a></li>
                    <li><a data-toggle="tab" href="#stations">Stations</a></li>
                    <li><a data-toggle="tab" href="#gender">Gender</a></li>
                    <li><a data-toggle="tab" href="#age">Age</a></li>
                    <li><a data-toggle="tab" href="#time_of_day">Time of Day</a></li>

                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="tab-content">
        <div id="intro" class="tab-pane active">
            <div class="row">
                <div class="col-sm-4">
                    <p>Talk about website and information and how to use here</p>
                </div>
            </div>
        </div>
        <hr>
        <div id="dates" class="tab-pane">
            <div class="row">
                <div class="col-sm-4">
                    <form method="POST" name="dateFilter" onSubmit="return OnSubmitForm();">
                        Please select a date range <br>
                        Start Date: <input type="date" name="start_date"><br>
                        End Date: <input type="date" name="stop_date"><br><br>

                        Get chart of:<br>
                        <input type="radio" name="data" value="time_of_day" > Time of Day<br>
                        <input type="radio" name="data" value="gender" checked="checked" > Gender<br>
                        <input type="radio" name="data" value="age"> Age<br>
                        <input type="radio" name="data" value="trip_durations"> Trip Durations<br>
                        <input type="radio" name="data" value="user_types"> User Types<br>
                        <p>
                            <input type="submit" name="submitDateFilter" onClick="submitButton=this.value" value="Submit"><br>
                            <input type="submit" name="submit_heatmap" onClick="submitButton=this.value" value="Submit Heatmap"><br>
                        </p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <p>Info</p>
                </div>
            </div>
            <SCRIPT language="JavaScript">
                var submitButton;
                function OnSubmitForm()
                {
                    if(submitButton == "Submit Heatmap") {
                        document.dateFilter.action = "/heatmap"
                    }
                    else {
                        if (document.dateFilter.data[0].checked == true) {
                            document.dateFilter.action = "/timeOfDay";
                        }
                        else if (document.dateFilter.data[1].checked == true) {
                            document.dateFilter.action = "/gender";
                        }
                        else if (document.dateFilter.data[2].checked == true) {
                            document.dateFilter.action = "/age";
                        }
                        else if (document.dateFilter.data[3].checked == true) {
                            document.dateFilter.action = "/tripDuration";
                        }
                        else if (document.dateFilter.data[4].checked == true) {
                            document.dateFilter.action = "/userType";
                        }
                    }
                    return true;
                }
            </SCRIPT>
        </div>
        <!-- /.row -->
        <div id="stations" class="tab-pane">
            <div class="row">
                <div class="col-sm-4">
                    <form method="POST" name="station_submit" onSubmit="return OnSubmitStationForm();">
                        Please select stations <br>
                        Start Station: <input type="text" name="start_Station"><br>
                        End Station: <input type="text" name="stop_Station"><br><br>

                        Please select a date range if required<br>
                        Start Date: <input type="date" name="start_date"><br>
                        End Date: <input type="date" name="stop_date"><br><br>

                        Get chart of:<br>
                        <input type="radio" name="data" value="time_of_day" > Time of Day<br>
                        <input type="radio" name="data" value="gender" checked="checked" > Gender<br>
                        <input type="radio" name="data" value="age"> Age<br>
                        <input type="radio" name="data" value="trip_durations"> Trip Durations<br>
                        <input type="radio" name="data" value="user_types"> User Types<br>
                        <p>
                            <input type="submit" name="submit_station" value="Submit"><br>
                        </p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <p>Different info</p>
                </div>
            </div>
            <SCRIPT language="JavaScript">
                function OnSubmitStationForm()
                {
                    if(document.station_submit.data[0].checked == true)
                    {
                    document.station_submit.action ="/timeOfDay";
                    }
                    else
                    if(document.station_submit.data[1].checked == true)
                    {
                    document.station_submit.action ="/gender";
                    }
                    else
                    if(document.station_submit.data[2].checked == true)
                    {
                    document.station_submit.action ="/age";
                    }
                    else
                    if(document.station_submit.data[3].checked == true)
                    {
                    document.station_submit.action ="/tripDuration";
                    }
                    else
                    if(document.station_submit.data[4].checked == true)
                    {
                    document.station_submit.action ="/userType";
                    }
                return true;
                }
            </SCRIPT>
        </div>
        <!-- /.row -->

        <div id="gender" class="tab-pane">
            <div class="row">
                <div class="col-sm-4">
                    <form method="POST" name="gender_submit" onSubmit="return OnSubmitGenderForm();">
                        <p>IMPLEMENT</p>
                        Please select <gender></gender> <br>
                            <select name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="unknown">Gender Unknown</option>
                            </select>

                        Please select a date range if required<br>
                        Start Date: <input type="date" name="start_date"><br>
                        End Date: <input type="date" name="stop_date"><br><br>

                        Get chart of:<br>
                        <input type="radio" name="data" value="time_of_day" checked="checked" > Time of Day<br>
                        <input type="radio" name="data" value="age"> Age<br>
                        <input type="radio" name="data" value="trip_durations"> Trip Durations<br>
                        <input type="radio" name="data" value="user_types"> User Types<br>
                        <p>
                            <input type="submit" name="submit_gender" value="Submit"><br>
                        </p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <p>Different info</p>
                </div>
            </div>
            <SCRIPT language="JavaScript">
                function OnSubmitGenderForm()
                {
                    if(document.gender_submit.data[0].checked == true)
                    {
                    document.gender_submit.action ="/timeOfDay";
                    }
                    else
                    if(document.gender_submit.data[1].checked == true)
                    {
                    document.gender_submit.action ="/age";
                    }
                    else
                    if(document.gender_submit.data[2].checked == true)
                    {
                    document.gender_submit.action ="/tripDuration";
                    }
                    else
                    if(document.gender_submit.data[3].checked == true)
                    {
                    document.gender_submit.action ="/userType";
                    }
                return true;
                }
            </SCRIPT>
        </div>
        <!-- /.row -->

        <div id="age" class="tab-pane">
            <div class="row">
                <div class="col-sm-4">
                    <form method="POST" name="age_submit" onSubmit="return OnSubmitAgeForm();">
                        <p>IMPLEMENT</p>
                        Please select age range: Minumum age = 16 <br>
                        Minimum Age: <input type="number" min="16" max="150" name="start_age"><br>
                        Maximum Age: <input type="number" min="16" max="150" name="stop_age"><br><br>

                        Please select a date range if required<br>
                        Start Date: <input type="date" name="start_date"><br>
                        End Date: <input type="date" name="stop_date"><br><br>

                        Get chart of:<br>
                        <input type="radio" name="data" value="time_of_day" > Time of Day<br>
                        <input type="radio" name="data" value="gender" checked="checked" > Gender<br>
                        <input type="radio" name="data" value="trip_durations"> Trip Durations<br>
                        <input type="radio" name="data" value="user_types"> User Types<br>
                        <p>
                            <input type="submit" name="submit_age" value="Submit"><br>
                        </p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <p>Different info</p>
                </div>
            </div>
            <SCRIPT language="JavaScript">
                function OnSubmitAgeForm()
                {
                    if(document.age_submit.data[0].checked == true)
                    {
                    document.age_submit.action ="/timeOfDay";
                    }
                    else
                    if(document.age_submit.data[1].checked == true)
                    {
                    document.age_submit.action ="/gender";
                    }
                    else
                    if(document.age_submit.data[2].checked == true)
                    {
                    document.age_submit.action ="/tripDuration";
                    }
                    else
                    if(document.age_submit.data[3].checked == true)
                    {
                    document.age_submit.action ="/userType";
                    }
                return true;
                }
            </SCRIPT>
        </div>
        <!-- /.row -->

        <div id="time_of_day" class="tab-pane">
            <div class="row">
                <div class="col-sm-4">
                    <form method="POST" name="time_submit" onSubmit="return OnSubmitTimeForm();">
                        <p>IMPLEMENT</p>
                        Please select a time range <br>
                        Start Time: <input type="time" name="start_time"><br>
                        End Time: <input type="time" name="end_time"><br><br>

                        Please select a date range if required<br>
                        Start Date: <input type="date" name="start_date"><br>
                        End Date: <input type="date" name="stop_date"><br><br>

                        Get chart of:<br>
                        <input type="radio" name="data" value="gender" checked="checked" > Gender<br>
                        <input type="radio" name="data" value="age"> Age<br>
                        <input type="radio" name="data" value="trip_durations"> Trip Durations<br>
                        <input type="radio" name="data" value="user_types"> User Types<br>
                        <p>
                            <input type="submit" name="submit_time" value="Submit"><br>
                        </p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <p>Different info</p>
                </div>
            </div>
            <SCRIPT language="JavaScript">
                function OnSubmitTimeForm()
                {
                    if(document.time_submit.data[0].checked == true)
                    {
                    document.time_submit.action ="/gender";
                    }
                    else
                    if(document.time_submit.data[1].checked == true)
                    {
                    document.time_submit.action ="/age";
                    }
                    else
                    if(document.time_submit.data[2].checked == true)
                    {
                    document.time_submit.action ="/tripDuration";
                    }
                    else
                    if(document.time_submit.data[3].checked == true)
                    {
                    document.time_submit.action ="/userType";
                    }
                return true;
                }
            </SCRIPT>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Author: Stephen O'Beirne 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
